

<form [formGroup]="addRecipeForm" (ngSubmit)="onSubmit()" class="form-container">
  <h2 class="form-title">Add a New Recipe</h2>

<mat-form-field appearance="fill" class="form-field">
  <mat-label>Name</mat-label>
  <input matInput type="text" formControlName="name" />
</mat-form-field>

<mat-form-field appearance="fill" class="form-field">
  <mat-label>Image Link</mat-label>
  <input matInput type="text" formControlName="image" />
</mat-form-field>

<mat-form-field appearance="fill" class="form-field">
  <mat-label>Difficulty</mat-label>
  <input matInput type="text" formControlName="difficulty" />
</mat-form-field>

<mat-form-field appearance="fill" class="form-field">
  <mat-label>Preparation time</mat-label>
  <input matInput type="number" formControlName="prepTimeMinutes" />
</mat-form-field>

<button mat-raised-button color=primary type="submit" [disabled]="addRecipeForm.invalid" class="submit-button">Submit</button>

  <!-- <div class="form-group">
    <label for="name">Name</label>
    <input type="text" formControlName="name" id="name" />
  </div>

  <div class="form-group">
    <label for="image">Image URL</label>
    <input type="text" formControlName="image" id="image" />
  </div>

  <div class="form-group">
    <label for="difficulty">Difficulty</label>
    <input type="text" formControlName="difficulty" id="difficulty" />
  </div>

  <div class="form-group">
    <label for="prepTimeMinutes">Preparation Time (minutes)</label>
    <input type="number" formControlName="prepTimeMinutes" id="prepTimeMinutes" />
  </div>

  <button type="submit" [disabled]="addRecipeForm.invalid" class="submit-button">Submit</button>
</form>

<mat-slide-toggle>Toggle me!</mat-slide-toggle> -->
{{localStorageValue}}