
<div
  class="card-container"
  [ngStyle]="{
    backgroundColor: recipe.prepTimeMinutes >= 20 ? '#253639' : '#39513f'
  }"
  [ngClass]="{ colorWhite: recipe.difficulty === 'Easy' }"
>
  <h3 class="recipe-title">{{ recipe.name | uppercase }}</h3>

  <img [src]="recipe.image" alt="recipe-image" class="recipe-image" />

  <p class="prep-time">
    <strong>Preparation Time:</strong> {{ recipe.prepTimeMinutes }} minutes
  </p>
  <p class="difficulty">Difficulty: {{ recipe.difficulty }}</p>

  <button class="card-button" (click)="goToRecipePage()">Tell me more</button>
</div>