.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.search-container {
  display: flex;
  margin-bottom: 3rem;
  justify-content: space-between;
  input {
    padding: 1rem;
  }
}

