<h1>Delicious Recipes</h1>

<h2>Recipes</h2>

<div class="search-container">
  <input
    type="text"
    placeholder="Search recipe"
    [(ngModel)]="searchValue"
    (ngModelChange)="filterValues()"
  />
  <button class="add-button" (click)= "redirectionToAddRecipe()">Add Recipe</button>
</div>
{{ searchValue }}
<div class="card-container">
  <!-- <app-recipe-card [recipe]="recipes[0]"></app-recipe-card>
  <app-recipe-card [recipe]="recipes[1]"></app-recipe-card>
  <app-recipe-card [recipe]="recipes[2]"></app-recipe-card> -->

  @for (recipe of dbRecipes; track $index) {
  <app-recipe-card [recipe]="recipe"></app-recipe-card>
  } @empty {
  <div>No items to display</div>
  }
</div>
{{ errorMessage }}
